// dependencies

@import 'reset';


// colors

$type: #ffedb8;
$background: #3c444c;


// types

@font-face {
  font-family: 'proxima_nova_thregular';
  src: url('../fonts/proxima_nova_thin-webfont.eot');
  src: url('../fonts/proxima_nova_thin-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/proxima_nova_thin-webfont.woff') format('woff'),
       url('../fonts/proxima_nova_thin-webfont.ttf') format('truetype'),
       url('../fonts/proxima_nova_thin-webfont.svg#proxima_nova_thregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_blregular';
  src: url('../fonts/proxima_nova_black-webfont.eot');
  src: url('../fonts/proxima_nova_black-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/proxima_nova_black-webfont.woff') format('woff'),
       url('../fonts/proxima_nova_black-webfont.ttf') format('truetype'),
       url('../fonts/proxima_nova_black-webfont.svg#proxima_nova_blregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

$thin: 'proxima_nova_thregular';
$black: 'proxima_nova_blregular';


// styles

body {
  background: $background;
  color: $type;
  font-family: $thin;
  letter-spacing: -1px;
}

.center {
  height: 250px;
  position: absolute;
  top: 50%;
  left: 15%;
  right: 15%;
  margin: -125px 0 0 0;
}

h1 {
  font-size: 50px;
  letter-spacing: -3px;
  font-family: $black;
  text-transform: uppercase;
}

h2 {
  font-size: 20px;
}

.social {
  margin: 40px 0 0;

  li {
    margin: 10px 0;
    text-transform: lowercase;

    a {
      text-decoration: none;
      font-size: 20px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .email { color: #d14836; }
  .linkedin { color: #0074b1; }
  .dribbble { color: #cc3a70; }
  .github { color: #7d8082; }
  .facebook { color: #3b5998; }
}